---
import Default from "@astrojs/starlight/components/Footer.astro";
---

<Default><slot /></Default>

<hr />

<p>Kittynode is <a href="https://github.com/futurekittylabs/kittynode">free software</a> released under the MIT License.</p>

<style>
  a {
    color: var(--sl-color-text-accent);
  }
  a:hover {
    color: var(--sl-color-white);
  }
  p {
    text-align: center;
  }
  hr {
    border: 0;
    border-bottom: 1px solid var(--sl-color-hairline);
  }
</style>
