[package]
name = "kittynode-cli"
version = "0.64.0"
edition.workspace = true
description.workspace = true
readme.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[[bin]]
name = "kittynode"
path = "src/main.rs"

[package.metadata.dist]
formula = "kittynode"

[dependencies]
clap = { version = "4.5.52", features = ["derive"] }
eyre = { version = "0.6.12", default-features = false, features = [
  "auto-install",
  "track-caller",
] }
kittynode-core = { version = "0.53.0", path = "../core" }
kittynode-web = { version = "0.50.0", path = "../web" }
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread", "fs", "time"] }
tokio-stream = "0.1.17"
tracing-subscriber = "0.3.20"
tracing = "0.1.41"
dialoguer = { version = "0.12.0", default-features = false, features = ["editor", "password"] }
crossterm = "0.29.0"
ratatui = "0.29.0"
reqwest = { version = "0.12.24", default-features = false, features = ["rustls-tls", "json"] }
semver = "1.0.27"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
zeroize = "1.8"
bip39 = { package = "tiny-bip39", version = "2" }
arboard = "3"
bollard = "0.19.4"
dunce = "1"

[dev-dependencies]
assert_cmd = "2.1.1"
predicates = "3.1.3"
tempfile = "3.23.0"
